@import "tailwindcss";

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  html,
  body {
    height: 100%;
    @apply antialiased;
    text-rendering: optimizeLegibility;
  }

  select {
    appearance: none;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22%235f6368%22%20viewBox%3D%220%20-960%20960%20960%22%3E%3Cpath%20d%3D%22M480-344%20240-584l56-56%20184%20184%20184-184%2056%2056-240%20240Z%22%2F%3E%3C%2Fsvg%3E");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: right 8px top 50%;
    padding-right: calc(1em + 24px) !important;
  }
}
